{% extends "main.html" %}
{% load static %}
{%block title%}Home{%endblock%}
{% block content %}

   <!-- HERO -->

   <section id="hero" class="bg-dark  text-light text-center text-lg-start py-5" > 
    <div class="container ">
        <div class="d-sm-flex align-items-center justify-content-center">
            <div class ="py-5"> 
                <h1 class="display-5">I am  a  <span class="text-info">Software developer</span></h1>
                <p class="py-1 lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, porro. A consequatur officia distinctio ea dolor excepturi facere sunt incidunt nisi ipsa. Sed aperiam natus magni fugit! Ipsum omnis at nostrum expedita animi. Provident suscipit aliquid ducimus cupiditate, quos voluptates?</p>
                <button class="btn btn-info">Get started</button>
                
            </div>
            <img class=" d-sm-block img-fluid  w-50" src="{% static 'images/programmer.svg'%}" alt="">
        </div>
    </div>
</section>


<!-- SKILLS -->

<section id="features" class="py-5">
    <div class="container">
        <h2 >Skills</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4"> <!-- Gelijke kolommen met Bootstrap -->
            <div class="col">
                <div class="card bg-dark text-light mb-3 h-100 d-flex flex-column">
                    <div class="h1 mt-3 text-center">
                        <i class="fa-solid fa-laptop-code"></i>
                    </div>
                    <div class="card-body text-center flex-grow-1">
                        <h4 class="card-title text-info">Languages</h4>
                        <p class="card-text">C#<br>Python</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark text-light mb-3 h-100 d-flex flex-column">
                    <div class="h1 mt-3 text-center">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="card-body text-center flex-grow-1">
                        <h4 class="card-title text-info">Backend</h4>
                        <p class="card-text">Django<br>ASP.NET</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark text-light mb-3 h-100 d-flex flex-column">
                    <div class="h1 mt-3 text-center">
                        <i class="fa-regular fa-file-code"></i>
                    </div>
                    <div class="card-body text-center flex-grow-1">
                        <h4 class="card-title text-info">Frontend</h4>
                        <p class="card-text">Html<br>Css<br>Bootstrap</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark text-light mb-3 h-100 d-flex flex-column">
                    <div class="h1 mt-3 text-center">
                        <i class="fa-solid fa-database"></i>
                    </div>
                    <div class="card-body text-center flex-grow-1">
                        <h4 class="card-title text-info">Database</h4>
                        <p class="card-text">MySQL<br>Sqlite</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Projects-->

<section id="learn" class="py-5 bg-dark text-light">
    <div class="container">
        <h2>Projects</h2>
       <div class="row align-items-center justify-content-center">
        <div class="col-md">
            <img src="{{project.poster_image.image.url}}" alt="" class="img-fluid">
            
        </div>
        <!-- slider -->
        <div class="col-md py-4">
            <div class="container mt-5">
                <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for project in projects %}
                        {% with poster_image=project.images.all|dictsortreversed:"is_poster"|first %}
                        {% if poster_image and poster_image.is_poster %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ poster_image.image.url }}" class="d-block w-100" alt="{{ project.name }}">
                            <div class="carousel-caption">
                                <h5>{{ project.name }}</h5>
                                <p>{{ project.description }}</p>
                                <a href="#">
                                    <div class="btn btn-info m-3">Show details</div>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endwith %}
                        {% endfor %}
                    </div>
                    <!-- Vorige en Volgende knoppen -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Vorige</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Volgende</span>
                    </button>
                </div>
            </div>
        </div>
        
        
        <!-- end slider -->
       </div>
    </div>
</section>


<!-- Contact -->

<section id="next" class="py-5 bg-light text-dark">
    <div class="container">
        <h2>Contact me</h2>
       <div class="row align-items-center justify-content-center flex-row-reverse">
        <div class="col-md">
            <div class="card bg-dark text-light p-3">
               
                <div class="card-body text-center">
                    <h1 class="card-title text-info"><i class="fa-solid fa-envelope"></i></h1>
                    <p class="card-text">
                        <h2>renad.sh.1999@gmail.com</h2>
                        <a href="mailto:renad.sh.1999@gmail.com">
                            <div class="btn btn-info m-3">Send e-mail</div>
                        </a>
                </div>
            </div>
            
        </div>
        <div class="col-md py-4">
            

            <div class="card bg-dark text-light p-3">        
                <div class="card-body text-center">
                    <h1 class="card-title text-info"><i class="fa-solid fa-phone"></i></h1>
                    <p class="card-text">
                        <h2>0687346966</h2>
                        <a href="tel:+31687346966">
                            <div class="btn btn-info m-3">Call</div>
                        </a>
                </div>
            </div>

        </div>
       </div>
    </div>
</section>


{% endblock %}