{% load static %}

<div class="navbar navbar-expand-md bg-dark navbar-dark text-white fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand">Renad</a>
        <button class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainmenu">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="mainmenu">
           <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a href="#hero" class="nav-link">About me</a></li>
            <li class="nav-item"><a href="#features" class="nav-link">Skills</a></li>
            <li class="nav-item"><a href="#learn" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="#faq" class="nav-link">FAQ</a></li>
           </ul>
        </div>
    </div>
</div>